*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("../images/backgound2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  font-family: 'Press Start 2P',cursive;
  color: white;
  font-weight: lighter;
}

ul{
  float: right;
  list-style-type: none;
  text-align: right;
  padding: 14px;
}



#time{
  font-size: 125%;
}

#masthead{
  margin: 0 0 0px;
  overflow: auto;
  width: 100%;
}

.container{
  width: 100%;
  max-width: ;
  clear: both;
  margin: 0 auto;
  float: right;
}

.characters {
    height: 150px;
    width: 150px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    color: white;
    border: 3px solid white;
}
.yours {
  border: 3px solid green;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  /*padding: 10px;*/
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  color: green;
}
.yours img{
  width: 160px;
}

.enemyAvail{
  border: 3px solid red;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  /*padding: 10px;*/
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  color: red;
}

.enemyAvail img{
  width: 160px;
}


.characters img{
  width:160px;
}

.characters:hover{
  border-color: #00d8ff;
  color: #00d8ff;
}

.character:first-child{
  margin-left: 0;
}



#character1 {
    background-color: #969c08;
    /*background-image: url("../images/Chica2.jpg");*/

}

#character2 {
    background-color: #5515dd;

}

#character3 {
    background-color: brown;

}

#character4 {
    background-color: #cf990e;

}
